
<%= form_tag(words_path, method: "get", id: "search-form") do |f| %>
  <table>
     <tr>
      <td> 
        Category <%= select_tag 'category', options_from_collection_for_select(Category.all, 'id', 'name', params[:category]), include_blank: true %>
      </td>
      <td>
        Learned <%= radio_button_tag 'status', '1', params[:status] == '1' %>
      </td>
      <td>
        Not Learn <%= radio_button_tag 'status', '-1', params[:status] == '-1' %>
      </td>
      <td><%= submit_tag "Search", name: nil, class: "btn btn-primary" %></td>
     </tr>
  </table>
 <% end %>
